.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 0 #eee;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__main {
  padding: 20px 0;
}

.header__logo img {
  display: block;
  max-height: 60px;
  object-fit: contain;
}

.icon-logo {
  width: 160px;
  height: auto;
  display: block;
}

.header__main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav ul {
  display: flex;
}

.header__nav ul li {
  margin-left: 25px;
}

.nav-item {
  font-size: 13px;
  color: #0072ce;
  font-weight: 900;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.nav-item:hover {
  color: #004abf;
  /* background-color: #f5f5f5; */
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 15px; /* Spacing between action elements */
}

.header__actions input {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .header__nav ul {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    width: min(80vw, 250px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .header__nav.open ul {
    display: flex;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: #0072ce;
    margin: 4px 0;
  }
}

/* Сховати бургер на великих екранах */
.burger {
  display: none;
}
