<header class="header">
  <div class="header__main">
    <div class="container">
      <div class="header__logo">
        <a href="/">
          <svg
            class="icon icon-logo logo-header"
            fill="currentColor"
            aria-hidden="true"
          >
            <title>Логотип</title>
            <use xlink:href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <nav class="header__nav" aria-label="Основна навігація">
        <button class="nav-close" aria-label="Закрити меню">✕</button>
        <ul class="nav-list">
          <!-- <li class="nav-item"><a href="#company">Про компанію</a></li> -->
          <li class="nav-item">
            <a href="#agronomy">Агрономічний супровід</a>
          </li>
          <!-- <li class="nav-item">
            <a href="#precision">Точне землеробство</a>
          </li>
          <li class="nav-item"><a href="#education">Навчання</a></li> -->
        </ul>
      </nav>
      <div class="burger">
        <svg class="icon-burger-menu" aria-hidden="true">
          <use href="/img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </div>
    </div>
    <!-- .container -->
  </div>
  <!-- .header__main -->
</header>
